body,h1,h2,h3,h4,h5,h6 {
    font-family: "Noto Sans Bengali UI", "Lato", sans-serif
}

a {
    text-decoration: none !important;
}

.w3-navbar,h1,button {
    font-family: "Noto Sans Bengali UI", "Montserrat", sans-serif
}

.fa-anchor,.fa-coffee {
    font-size:200px
}

.post {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.post-title {
    text-decoration: none;
}

.post-title:hover {
    color: #f44336;
}

.post-content {
    font-size: 20px;
    margin-top: 10px;
}

.post-date {
    padding: 5px;
    background-color: #f44336;
    color: white;
}

.home-hero-wrapper {
    width: 100%;
    max-height: 40vh;
    overflow: hidden;
}

.home-hero {
    width: 100%;
    height: auto;
}

.post-hero-wrapper {
    width: 100%;
}

.post-hero {
    width: 100%;
    height: auto;
}

.highlighter-rouge {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.latest-news {
    height: 400px;
}

#news-ticker {
    height: 325px;
    padding: 5px;
    overflow: hidden;
}

.latest-news-item {
    margin: 3px;
    height: 100px;
}

.latest-thumbnail-image {
    width: auto;
    height: 100px;
}

.latest-thumbnail {
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: block;
    margin-right: 5px;
}
