---
layout: default
title: Home
---
{% for post in paginator.posts %}
<div class="w3-col l12 m6 w3-card-4 post">
  <div class="w3-display-container">
    <div class="post-date w3-display-topright">{{ post.date | date: "%d %b %Y"}}</div>
    <div class="home-hero-wrapper">
      {% if post.img %}
      <img class="home-hero" alt="" src="{{ post.img }}"/>
      {% endif %}
    </div>
  </div>
  <header class="w3-container">
    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <hr/>
  </header>
  <div class="w3-container">
    <div class="post-content">
      {{ post.content | markdownify }}
    </div>
  </div>
</div>
{% endfor %}
